@import '../base/reset';
@import '../base/typography';
@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/animations';

h1, h2 {
    font-size: 24px;
}

h1, h2, h3, h4 {
    font-family: $font-text;
    margin: 0;
}

.loader-wrapper {
    @include flex(row, center, center);

    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    animation: appear-main-content 3s ease-in-out forwards;
    background-color: #fff;
    z-index: 999;
    transition: 3s ease-in-out;

    .loader {
        @include heart-fill(1);

        font-family: $font-heading;
        font-size: 26px;

        span {
            @include letter-spin;

            padding-right: 5px;
        }
    }
}


.position {
    @include flex(row, center, center);

    height: 50px;
    background-color: $grey1;
    
    i {
        padding-right: 20px;
    }
}

.explore {
    @include flex(column, center, center);

    background-color: $grey2;
    padding: 40px;
    text-align: center;
    gap: 40px;
    
    p {
        font-weight: 300;
    }
    
    .btn {
        @include main-button;
    }
}

.functioning {
    @include flex(column, center, center);
    
    padding: 50px 30px;
    
    h2 {
        align-self: flex-start;
    }
    
    .functioning-card:hover .functioning-card__icon {
        color: $primary;
    }
    
    &-container {
        @include flex(column, center, center);
        
        width: 90%;
        
        .functioning-card {
            @include border-radius(18px);
            @include flex(row, space-around, center);
            
            width: 100%;
            max-width: 450px;
            height: 80px;
            background: #f6f6f6;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            margin-top: 20px;
            padding-right: 28px;
            padding-left: 15px;
            position: relative;
            
            &:hover {
                background: rgba(245, 237, 255, 255);
            }
            
            &__number {
                @include border-radius(50%);
                @include flex(row, center, center);
                
                width: 27px;
                height: 27px;
                background-color: $primary;
                color: #fff;
                font-weight: 400 !important;
                position: absolute;
                left: -11px;
            }

            &__icon {
                font-size: 22px;
                color: dimgrey;
            }
            
            p {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}

#restaurant-list {
    @include flex(column, center, center);

    background-color: $grey2;
    padding: 50px 20px;
    
    h2 {
        align-self: flex-start;
    }
    
    .restaurants {
        width: 90%;  
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    
        &-card {
            @include link(black);
            @include border-radius(15px);

            width: 100%;
            height: 250px;
            background-color: #fff;
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            transition: 0.5s;
            
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.251) 0px 4px 12px;
                transform: translateY(-5px);
            }
            
            &__label {
                @include border-radius(3px);        
            
                position: absolute;
                top: 15px;
                right: 12px;
                background-color: #99e2d0;
                color: #008766;
                font-weight: 500;
                padding: 5px 10px;
            }
            
            &__image {
                width: 100%;
                height: calc(100% - 75px);
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            &__info {
                @include flex(row, space-between, center);
            
                height: 75px;
                padding: 10px 15px;
            
                &--description {
                    @include flex(column, flex-start, stretch);
            
                    text-decoration: none;
                    height: 100%;
                    font-weight: 300;
            
                    p {
                        margin-top: 5px;
                    }
                }
            
                &--like {
                    @include heart-style($regular, 25px, $solid);
                }
            }
        }
    }
}

