//Main colors
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

//Background colors
$grey1: #eaeaea;
$grey2: rgba(246, 246, 246, 255);
$background-grey: #F6F6F6;

//menu-item__text fonts
$font-text: 'Roboto', sans-serif;
$font-heading: 'Shrikhand', sans-serif;

//Heart icon changements
$solid: 900;
$regular: 400;